/*Index Section*/
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 26px;
}

.container-pending {
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3px;
}

body {
    background-image: url('https://images.unsplash.com/photo-1615715874973-c1a850c64c2f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-body {
  box-sizing: border-box;
  padding-right: 100px;
  grid-template-rows: 33% 33% 33%;
}

 /*Alternate Dashboard Section*/

.grid-container {
  margin: 10px;
  height: 300px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
}

.grid-item {
  color: black;
  font-size: 25px;
  border-radius: 26px;
  text-align: left;
  width: 200px;
  height: 200px;
  line-height: 40px;
  margin: 20px;
  padding-right: 100px;
  padding-top: 10px;
  border: 0.6px solid black;
  background-color: #f5ececab;
}

.task-title {
  font-size: 25px;
  margin-left: 10px;
  padding: 5px 
}

.task-text {
  font-size: 18px;
  padding-left: 20px;
  line-height: 27px;

}

.categories {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  margin-top: 50px;

}

.grid-categories {
  color: black;
  font-size: 25px;
  text-align: center;
  width: 200px;
  line-height: 40px;
  margin: 20px;
  padding-right: 10px;
  border-radius: 26px;
  background-color:rgba(255, 235, 205, 0.336);
  

}

.dashboard-title {
  color:white;
}


.addtask-button {
   top: 55px; right:425px; 
  background:linear-gradient(to bottom, #ffffff 5%, #ebe1e1 100%);
  background-color:#ededed;
  border-radius:26px;
  border: 0px;
  color:#292929;
  font-family:Arial;
  font-size:19px;
  padding:13px 30px;
  text-decoration:none;
}

.addtask-button:hover {
  background:linear-gradient(to bottom, #ebe1e1 5%, #ffffff 100%); 
  background-color:#dfdfdf;
  border: 0px;

 }

  .addtask-button:active {
    top:1px; 
    border: 0px;

  }

 /*Welcome Page Section*/
 /* May need to be bigger in text size */
 .welcome-title {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  margin-top:10px;
  font-family:Arial;
}
.wbutton {
  text-align: right;
  
}
/* Stuck right there */
 .welcome-button {
  box-shadow: 0px 3px 27px 5px #dbdbdb;
  box-shadow: 0px 0px 0px 0px #ffffff;
  background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color:#ededed;
  border-radius:26px;
  cursor:pointer;
  border: 0px;
  color:#777777;
  font-family:Arial;
  font-size:19px;
  padding:13px 30px;
  text-decoration:none;
  margin-top: 380px;
}

 .welcome-button:hover {
  background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%); background-color:#dfdfdf;
  border: 0px;
 }

  .welcome-button:active {
    position:relative;
    top:1px; 
    border: 0px;
  }

 /*Add Task Section*/
 .addResetTask {
  display: inline-block;
  padding: 10px;
  margin-left: 50px;
}


 /*Edit Task Section*/
.task-name {

    text-align: left;
    color:black;
    margin-left: 400px;
    margin-top: 50px;
    padding: 10px;
}

.deletetask-button {
  position:absolute; bottom: 35px; right:500px; 
  background:linear-gradient(to bottom, #ffffff 5%, #ebe1e1 100%);
  background-color:#ededed;
  border-radius:26px;
  border: 0px;
  color:#292929;
  font-family:Arial;
  font-size:19px;
  padding:13px 30px;
  text-decoration:none;
}

.deletetask-button:hover {
  background:linear-gradient(to bottom, #ebe1e1 5%, #ffffff 100%); background-color:#dfdfdf;
  border: 0px;

 }

  .deletetask-button:active {
    position:relative;
    top:1px; 
    border: 0px;

  }


  .savetask-button {
    position:absolute; bottom: 35px; left:600px; 
    background:linear-gradient(to bottom, #ffffff 5%, #ebe1e1 100%);
    background-color:#ededed;
    border-radius:26px;
    border: 0px;
    color:#292929;
    font-family:Arial;
    font-size:19px;
    padding:13px 30px;
    text-decoration:none;
  }
  
  .savetask-button:hover {
    background:linear-gradient(to bottom, #ebe1e1 5%, #ffffff 100%); background-color:#dfdfdf;
    border: 0px;
  
   }
  
    .savetask-button:active {
      position:relative;
      top:1px; 
      border: 0px;
  
    }
  


  .status {

    text-align: left;
    color:rgb(255, 255, 255);
    margin-left: 400px;
    margin-top: 50px;
    padding: 10px;
}

.due-date {

  text-align: left;
  color:rgb(255, 255, 255);
  margin-left: 400px;
  margin-top: 50px;
  padding: 10px;
}


.description {

  text-align: left;
  color:rgb(255, 255, 255);
  margin-left: 400px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 10px;
}

.sub-tasks {

  text-align: left;
  color:rgb(255, 255, 255);
  margin-left: 400px;
  margin-top: 50px;
  padding: 10px;
}

.assigned-to {

  text-align: left;
  color:rgb(255, 255, 255);
  margin-left: 400px;
  margin-top: 50px;
  padding: 10px;
}

blockquote {
  background: #eee;
  border-radius: 0px;
  margin-left: 410px;
  margin-right: 400px;
  line-height: normal;
}


.checkboxsubtask {
  margin-left: 410px;

}