/*Index Section*/
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.container-pending {
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3px;
}

body {
    background-image: url('https://images.unsplash.com/photo-1614849286447-fb815456e5a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card-body {
  box-sizing: border-box;
  border: 1px solid black;
  padding-right: 100px;
  grid-template-rows: 33% 33% 33%;
}

 /*Alternate Dashboard Section*/

.grid-container {
  margin: 10px;
  height: 300px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
}

.grid-item {
  color: black;
  font-size: 25px;
  border-radius: 26px;
  text-align: left;
  width: 200px;
  height: 200px;
  line-height: 40px;
  margin: 20px;
  padding-right: 100px;
  padding-top: 10px;
  border: 0.6px solid black;
  background-color: #f5ececab;
}

.task-title {
  font-size: 25px;
  margin-left: 10px;
  padding: 5px 
}

.task-text {
  font-size: 18px;
  padding-left: 20px;
  line-height: 27px;

}

.categories {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  margin-top: 50px;

}

.grid-categories {
  color: black;
  font-size: 25px;
  text-align: center;
  width: 200px;
  line-height: 40px;
  margin: 20px;
  padding-right: 10px;
  border-radius: 26px;
  background-color:rgba(255, 235, 205, 0.336);
  

}

.dashboard-title {

  text-align: left;
  color:black;
  margin-left: 400px;
  margin-top: 50px;
  padding: 10px 
}

 /*Welcome Page Section*/

 .welcome-title {
text-align: center;
color: white;
padding-top: 300px;
padding-left: 300px;
padding-right: 300px;
padding-bottom: 50px;
 }

 .welcome-button {
align-items: center;
text-align: center;
margin: 0px 10px 300px 700px;
box-shadow: 0px 3px 27px 5px #dbdbdb;
box-shadow: 0px 0px 0px 0px #ffffff;
background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
background-color:#ededed;
border-radius:26px;
display:inline-block;
cursor:pointer;
border: 0px;
color:#777777;
font-family:Arial;
font-size:19px;
padding:13px 30px;
text-decoration:none;

 }

 .welcome-button:hover {
  background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%); background-color:#dfdfdf;
 }

  .welcome-button:active {
    position:relative;
    top:1px; 
  }

 /*Add Task Section*/
 .addResetTask {
  display: inline-block;
  padding: 10px;
  margin-left: 50px;
}
